.custom-box > .custom-item {
    /* padding: 5px; */
    /* visibility: hidden; */
    padding:7.5px;
    max-width: 100%;
    height: auto;
}
.service-category-list{
    padding: 2rem;
}
.ratio-16-9 {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

/* ปรับแต่งหน้าตาของรูปใน Magnific Popup */
.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px; /* ตามที่คุณต้องการ */
    margin: 0 auto;
}

/* ปรับสีพื้นหลังให้ดำสนิท (Optional) */
.mfp-bg {
    background: #000;
    opacity: 0.9;
}