.custom-box > .custom-item {
    /* padding: 5px; */
    /* visibility: hidden; */
    padding:7.5px;
    max-width: 100%;
    height: auto;
}
.service-category-list{
    padding: 2rem;
}
.ratio-16-9 {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}
